.detailedTitle{
    font-size: 1.8rem;
    text-align: center;
    padding: 1rem;
}

.detailedContent{
    padding: 1.3rem;
    font-size: 1rem;
}

.titleAnchor{
    color:#888 !important;
    padding:4px !important;
    margin: 0rem !important;
    height: auto !important;
    line-height: 1.2rem !important;
    font-size: .9rem !important;
    border-bottom: 1px dashed #eee;
}
.detailedNav{
    top:1rem;
}
.navTitle{
    text-align: center;
    color: #888;
    border-bottom: 1px solid rgb(30, 144, 255);

}
.articleMenu{
    font-size: .7rem;
}